<ul class="hlist">
  <li>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vesparny&amp;repo=angular-kickstart&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
  </li>
  <li>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vesparny&amp;repo=angular-kickstart&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
  </li>
  <li class="tweet-btn">
    <a class="tweet" href="https://twitter.com/intent/tweet?via=sublemonuk&related=sublemonuk&text=angular-kickstart - speed up @angularjs development and testing with a great @gulpjs build system. http://bit.ly/angular_kickstart">Tweet</a>
  </li>
</ul>